nav{
    display: flex;
    justify-content: space-around;
    background-color: indigo;

}

nav ul li{
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;

}

a.logo{
    font-weight: 900;

}

a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    transition:all .2s linear;

}

a:hover{
    color: #fff;
    font-weight: 900;
}